* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI", "Roboto", sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width: 100%;
}

/* Portrait layout (default) */
.app {
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

// @media screen and (prefers-color-scheme: dark) {

// }

body {
    display: grid;
    grid-template-rows: 5rem 1fr 14rem;

    #top_section {
        background-color: black;
        // border-bottom: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row-reverse;
        padding: 2rem;

        #camera_switch {
            display: flex;
            align-items: center;

            svg {
                height: 1.125rem;
                width: 1.125rem;
                fill: white;
            }

            .checkbox_block {
                width: 2.688rem;
                height: 1.438rem;
                position: relative;
                display: flex;
                margin: 0 0.5rem;

                input[type="checkbox"] {
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;

                    &:checked + .switch .slider {
                        left: calc(50% - 1.125rem / 2 + 10px);
                        top: calc(50% - 1.125rem / 2);
                    }
                }
                .switch {
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-color: #e9e9eb;
                    border-radius: 16px;
                    cursor: pointer;
                    transition: all 0.2s ease-out;
                }

                /* The slider */
                .slider {
                    width: 1.125rem;
                    height: 1.125rem;
                    position: absolute;
                    left: calc(50% - 1.125rem / 2 - 10px);
                    top: calc(50% - 1.125rem / 2);
                    border-radius: 50%;
                    background: #ffffff;
                    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
                    transition: all 0.2s ease-out;
                    cursor: pointer;
                }
            }
        }
    }

    #preview {
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 1.25rem;

        #timer {
            display: none;
            font-size: 0.875rem;
            color: white;
            background: rgba(128, 128, 128, 0.74);
            padding: 10px;
            border-radius: 50px;
            width: 3rem;
            justify-content: center;
        }
    }

    #bottom_section {
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
            width: 50px;
            height: 50px;
        }

        #snap {
            width: 80px;
            height: 80px;
            border: 3px solid double;
            background: white;
            border-radius: 150px;
        }

        #change_camera {
            width: 50px;
            height: 50px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;

            svg {
                width: 30px;
                height: 35px;
            }
        }
    }
}

.landskaped {
    grid-template-rows: auto !important;
    grid-template-columns: 5rem 1fr 14rem !important;

    #bottom_section {
        flex-direction: column-reverse;
    }
}
